@import url(https://fonts.googleapis.com/css?family=Roboto:500);
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", san-serif;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	transition: all 300ms ease-in-out;
}

.scroll-down header {
	transform: translate3d(0, -100%, 0);
}

.scroll-up header {
	filter: drop-shadow(0 -10px 20px #aaaaaa);
}

.menu-is-open {
	overflow: hidden;
}
.menu-is-open {
	filter: none;
}

/* =================== Hero ================== */
.hero {
	display: flex;
	width: 100%;
	height: 7.875rem;
	background: #fff5dd;
	justify-content: space-between;
}

.hero p {
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	/* identical to box height */
	color: #40414d;
}

.hero h1 {
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 1.9375rem;
	line-height: 2.3125rem;
	letter-spacing: 0.1em;
	color: #6b484d;
}

.hero-text {
	margin: 2rem 1rem 0 3rem;
}

.hero-text a {
}

/* ================== Error page ================== */
.error {
	/*border: 1px solid black;*/
	margin: 0 auto;
	text-align: center;
	width: 40%;
}
.error h1 {
	color: tomato;
}

/* ==================== fomantic overwrites ============ */
.ui.container {
	margin-top: 12rem;
}



.recipe.description {
	text-align: justify;
	font-size: 1.1rem;
	line-height: 1.8rem;
}

.ui.segment.recipe {
	/*font-size: 1.1rem;*/
}

a.ui.label {
	margin: 0.2rem 0;
	text-align:  center;
}
.ui.grid.container {
	margin-top: 2rem;
}

.ui.submit.button {
	background-color: #6c63ff;
	color: white;
}

.ui.card {
	margin: 0 auto;
}

.ui.segments.label {
		padding: 0;
}

h2.ui.header {
    margin: 1.5rem 0;
}

/* ================================ media queries ======================= */
@media only screen and (max-width: 769px) {
  .ui.submit.button {
  	margin-top: 1rem;
  }

  .ui.table tr {
	text-align:  center;
	}

	.ui.card.summary {
		width: auto ;
	}
	
	.ui.card {
		width: 90%;
	}
}

@media only screen and (max-width: 550px) {
	.hero-text {
		margin: 2rem 2rem 0 1rem;
	}
	.ui.card {
		width: 100%;
	}

	.ui.ui.ui.grid.container {
		margin: 1rem 0;
	}

	.ui.grid>.centered.column, .ui.grid>.row>.centered.column {
		padding: 1rem 0;
	}

	.ui.table {
    font-size: .8rem;
    line-height: 1.3;
    font-weight: 400;
  }    
	#quantity-cell {
	text-align:  left;
}
}

/* ================== Scrollbar Styling ================== */
::-webkit-scrollbar {
	background-color: #fff;
	width: 16px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
	background-color: #fff;
}

::-webkit-scrollbar-track:hover {
	background-color: #f4f4f4;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
	background-color: #babac0;
	border-radius: 16px;
	border: 5px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #a0a0a5;
	border: 4px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
	display: none;
}
